.App {
  height: 100vh;
  background-color: #000;
  background-size: cover;
  position: relative;
  color: #fff;
}

.Container {
  position: absolute;
  background: rgba(5, 8, 11, 0.52);
  width: 100%;
  height: 100vh;
}

.Main{
  position: relative;
  display: flex;
  height: 100vh;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}



.Service{
  margin: 0 0 8px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
}

.ServiceInner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ServiceInner img{
  margin-top: 8px;
  margin-bottom: 8px;
  width: 32px;
}

.ServiceInner h5{
 font-size: 16px;
}

.ServiceInner p{
 font-size: 12px;
}

.Movies img {
  height: 32px;
  width: initial;
  border-radius: 0;
  border: none;
}

